* { margin: 0; padding: 0; }

#container {
    padding: 10px;
    width: 820px;
    margin: 0 auto;
    overflow: auto;
}

#waiting {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 400px;
    text-align: left;
    height: 50px;
    font-size: 36px;
}

$red: red;
$yellow: #D9D91A;
$green: green;
$blue: blue;
$light: 40%;

.p0 .tile.hover { background: lighten($red, $light); }
.p1 .tile.hover { background: lighten($yellow, $light); }
.p2 .tile.hover { background: lighten($green, $light); }
.p3 .tile.hover { background: lighten($blue, $light); }

.p0, .p1, .p2, .p3 {
    .tile.p0 { background: $red; }
    .tile.p1 { background: $yellow; }
    .tile.p2 { background: $green; }
    .tile.p3 { background: $blue; }
}

#blocks {
    width: 150px;
    min-height: 1px;
    overflow: auto;
    float: left;

    .blockgroup {
        overflow: hidden;
        border-top: 1px solid black;
        padding-top: 15px;
    }

    .blockgroup:first-child {
        border-top: none;
        margin-top: 1px;
    }

    $tileSize: 12px;
    .block {
        position: relative;
        float: left;
        margin: 5px;
        cursor: pointer;
    }

    .tile {
        width: $tileSize;
        height: $tileSize;
        position: absolute;
    }
}

#board { 
    position: relative;
    border-left: 1px solid black;
    border-top: 1px solid black;
    float: left;
 
    $tileSize: 32px;
    .tile {
        float: left;
        cursor: pointer;
        width: $tileSize;
        height: $tileSize;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    $bwidth: 2px;    
    .corner {
        position: absolute;
        width: 2 * $tileSize + $bwidth;
        height: 2 * $tileSize + $bwidth;
    }

    $border: $bwidth solid;
    .corner:nth-child(1) {
        border-top: $border $red;
        border-left: $border $red;
        top: -2px;
        left: -1px;
    }

    .corner:nth-child(2) {
        border-top: $border $yellow;
        border-right: $border $yellow;
        top: -2px;
        right: -1px; 
    }

    .corner:nth-child(3) {
        border-bottom: $border $green;
        border-right: $border $green;
        bottom: -1px;
        right: -1px;
    }

    .corner:nth-child(4) {
        border-bottom: $border $blue;
        border-left: $border $blue;
        bottom: -1px;
        left: -1px;
    }

    .clear { clear: both; }
}