* { margin: 0; padding: 0; }

#container {
    padding: 10px;
    width: 820px;
    margin: 0 auto;
    overflow: auto;
}

.tile.hover { background: #ffbbbb; }

.tile.p0 { background: red; }
.tile.p1 { background: yellow; }
.tile.p2 { background: green; }
.tile.p3 { background: blue; }

#blocks {
    width: 150px;
    min-height: 1px;
    overflow: auto;
    float: left;

    $tileSize: 12px;
    .block {
        position: relative;
        float: left;
        margin: 5px;
        cursor: pointer;
    }

    .tile {
        width: $tileSize;
        height: $tileSize;
        position: absolute;
    }
}

#board { 
    position: relative;
    border-left: 1px solid black;
    border-top: 1px solid black;
    overflow: auto;
    float: left;
 
    $tileSize: 32px;
    .tile {
        float: left;
        cursor: pointer;
        width: $tileSize;
        height: $tileSize;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
}