@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300');

* { margin: 0; padding: 0; }

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

td {
  padding: 2px;
}

#container {
    padding: 10px;
    width: 1160px;
    margin: 0 auto;
    overflow: auto;
}

#waiting {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 400px;
    text-align: left;
    height: 50px;
    font-size: 36px;
}

$red: red;
$yellow: #EEEE1A;
$green: green;
$blue: blue;
$light: 40%;

.p0 .tile.hover { background: lighten($red, $light); }
.p1 .tile.hover { background: lighten($yellow, $light); }
.p2 .tile.hover { background: lighten($green, $light); }
.p3 .tile.hover { background: lighten($blue, $light); }

.spectate, .p0, .p1, .p2, .p3 {
    .tile.p0 { background: $red; }
    .tile.p1 { background: $yellow; }
    .tile.p2 { background: $green; }
    .tile.p3 { background: $blue; }
}

#blocks {
    width: 480px;
    min-height: 1px;
    overflow: auto;
    float: left;
    position: relative;
    z-index: 2;

    .blockgroup {
        overflow: hidden;
        border-top: 1px solid black;
        padding-top: 15px;
        padding-left: 10px;
        height: 100px;
    }

    .blockgroup:first-child {
        border-top: none;
        margin-top: 1px;
    }

    .blockgroup.active {
        background: #ffeeaa;
    }

    $tileSize: 12px;
    .block {
        position: relative;
        float: left;
        margin: 5px;
        cursor: pointer;
    }

    .tile {
        width: $tileSize;
        height: $tileSize;
        position: absolute;
    }
}

#board { 
    position: relative;
    z-index: 3;
    border-left: 1px solid black;
    border-top: 1px solid black;
    float: left;
 
    $tileSize: 32px;
    .tile {
        float: left;
        cursor: pointer;
        width: $tileSize;
        height: $tileSize;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    $bwidth: 5px;    
    .corner {
        position: absolute;
        z-index: -1;
        width: 2 * $tileSize + $bwidth / 2;
        height: 2 * $tileSize + $bwidth / 2;
    }

    $border: $bwidth solid;
    .corner:nth-child(1) {
        border-top: $border $red;
        border-left: $border $red;
        top: -$bwidth - 1;
        left: -$bwidth - 1;
    }

    .corner:nth-child(2) {
        border-top: $border $yellow;
        border-right: $border $yellow;
        top: -$bwidth - 1;
        right: -$bwidth + 1; 
    }

    .corner:nth-child(3) {
        border-bottom: $border $green;
        border-right: $border $green;
        bottom: -$bwidth;
        right: -$bwidth;
    }

    .corner:nth-child(4) {
        border-bottom: $border $blue;
        border-left: $border $blue;
        bottom: -$bwidth;
        left: -$bwidth - 1;
    }

    .clear { clear: both; }
}

#games {
    margin-left: 20px;
}

#scores {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: auto;
    
    h1 { 
        margin-bottom: 15px;
        border-bottom: 1px solid black;
        padding-bottom: 3px;
    }

    table {
        width: 100%;
    }

    tr {
        margin-bottom: 5px;
        font-size: 24px;

        .name { 
            font-weight: bold; 
            width: 80%;
        }

        .score {
            text-align: right;
        }
    }
}