@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

td {
  padding: 2px; }

#container {
  padding: 10px;
  width: 1160px;
  margin: 0 auto;
  overflow: auto; }

#waiting {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  text-align: left;
  height: 50px;
  font-size: 36px; }

.blocked {
  background-color: black; }

.p0 .tile.hover {
  background: #ffcccc; }

.p1 .tile.hover {
  background: #fcfcd8; }

.p2 .tile.hover {
  background: #4dff4d; }

.p3 .tile.hover {
  background: #ccccff; }

.spectate .tile.p0, .p0 .tile.p0, .p1 .tile.p0, .p2 .tile.p0, .p3 .tile.p0 {
  background: red; }
.spectate .tile.p1, .p0 .tile.p1, .p1 .tile.p1, .p2 .tile.p1, .p3 .tile.p1 {
  background: #EEEE1A; }
.spectate .tile.p2, .p0 .tile.p2, .p1 .tile.p2, .p2 .tile.p2, .p3 .tile.p2 {
  background: green; }
.spectate .tile.p3, .p0 .tile.p3, .p1 .tile.p3, .p2 .tile.p3, .p3 .tile.p3 {
  background: blue; }

#blocks {
  width: 480px;
  min-height: 1px;
  overflow: auto;
  float: left;
  position: relative;
  z-index: 2; }
  #blocks .blockgroup {
    overflow: hidden;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-left: 10px;
    height: 100px; }
  #blocks .blockgroup:first-child {
    border-top: none;
    margin-top: 1px; }
  #blocks .blockgroup.active {
    background: #ffeeaa; }
  #blocks .block {
    position: relative;
    float: left;
    margin: 5px;
    cursor: pointer; }
  #blocks .tile {
    width: 12px;
    height: 12px;
    position: absolute; }

#board {
  position: relative;
  z-index: 3;
  border-left: 1px solid black;
  border-top: 1px solid black;
  float: left; }
  #board .tile {
    float: left;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-right: 1px solid black;
    border-bottom: 1px solid black; }
  #board .bonus {
    border: 3px solid orange;
    height: 26px;
    text-align: center;
    padding-top: 2px; }
  #board .corner {
    position: absolute;
    z-index: -1;
    width: 66.5px;
    height: 66.5px; }
  #board .corner:nth-child(1) {
    border-top: 5px solid red;
    border-left: 5px solid red;
    top: -6px;
    left: -6px; }
  #board .corner:nth-child(2) {
    border-top: 5px solid #EEEE1A;
    border-right: 5px solid #EEEE1A;
    top: -6px;
    right: -4px; }
  #board .corner:nth-child(3) {
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    bottom: -5px;
    right: -5px; }
  #board .corner:nth-child(4) {
    border-bottom: 5px solid blue;
    border-left: 5px solid blue;
    bottom: -5px;
    left: -6px; }
  #board .clear {
    clear: both; }

#games {
  margin-left: 20px; }

#scores {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto; }
  #scores h1 {
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 3px; }
  #scores table {
    width: 100%; }
  #scores tr {
    margin-bottom: 5px;
    font-size: 24px; }
    #scores tr .name {
      font-weight: bold;
      width: 80%; }
    #scores tr .score {
      text-align: right; }

/*# sourceMappingURL=style.css.map */
