@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background: url("images/bg.jpg") no-repeat top;
  background-size: cover;
  color: white; }

td {
  padding: 2px; }

#container {
  padding: 10px;
  width: 1280px;
  margin: 20px auto 0;
  overflow: auto; }

#waiting {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  text-align: left;
  height: 50px;
  font-size: 36px;
  color: white; }

.blocked {
  background: url("images/crater.png"); }

.p0 .tile.hover {
  box-shadow: inset 0 0 24px rgba(255, 36, 36, 0.85) !important; }

.p1 .tile.hover {
  box-shadow: inset 0 0 24px rgba(238, 238, 63, 0.85) !important; }

.p2 .tile.hover {
  box-shadow: inset 0 0 24px rgba(36, 255, 36, 0.85) !important; }

.p3 .tile.hover {
  box-shadow: inset 0 0 24px rgba(36, 36, 255, 0.85) !important; }

.spectate .tile.p0, .p0 .tile.p0, .p1 .tile.p0, .p2 .tile.p0, .p3 .tile.p0 {
  background-image: url("images/red.png"); }
.spectate .tile.p1, .p0 .tile.p1, .p1 .tile.p1, .p2 .tile.p1, .p3 .tile.p1 {
  background-image: url("images/yellow.png"); }
.spectate .tile.p2, .p0 .tile.p2, .p1 .tile.p2, .p2 .tile.p2, .p3 .tile.p2 {
  background-image: url("images/green.png"); }
.spectate .tile.p3, .p0 .tile.p3, .p1 .tile.p3, .p2 .tile.p3, .p3 .tile.p3 {
  background-image: url("images/blue.png"); }

#blocks {
  display: none;
  width: 480px;
  min-height: 1px;
  overflow: auto;
  float: left;
  position: relative;
  z-index: 2;
  margin-right: 100px; }
  #blocks .blockgroup {
    overflow: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    height: 100px;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px; }
  #blocks .blockgroup:first-child {
    border-top: none;
    margin-top: 1px; }
  #blocks .blockgroup.active {
    background: rgba(255, 255, 210, 0.6); }
  #blocks .block {
    position: relative;
    float: left;
    margin: 5px;
    cursor: pointer; }
  #blocks .tile {
    width: 12px;
    height: 12px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: none; }

#board-wrapper {
  float: left;
  background: url("images/moon.png") no-repeat center center;
  padding: 20px;
  display: none;
  margin-top: 25px; }

#board {
  position: relative;
  z-index: 3;
  box-shadow: 0 0 10px rgba(75, 180, 240, 0.85); }
  #board .tile {
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 8px rgba(75, 180, 240, 0.85);
    background-size: cover;
    background-position: center center;
    background-repeat: none; }
  #board .bonus {
    height: 24px;
    text-align: center;
    padding-top: 6px;
    background: url("images/bonus.png") no-repeat center center; }
  #board .corner {
    position: absolute;
    z-index: -1;
    width: 62.5px;
    height: 62.5px; }
  #board .corner:nth-child(1) {
    border-top: 5px solid rgba(240, 0, 0, 0.85);
    border-left: 5px solid rgba(240, 0, 0, 0.85);
    top: -5px;
    left: -5px; }
  #board .corner:nth-child(2) {
    border-bottom: 5px solid rgba(230, 230, 20, 0.85);
    border-left: 5px solid rgba(230, 230, 20, 0.85);
    bottom: -5px;
    left: -5px; }
  #board .corner:nth-child(3) {
    border-bottom: 5px solid rgba(0, 240, 0, 0.85);
    border-right: 5px solid rgba(0, 240, 0, 0.85);
    bottom: -5px;
    right: -5px; }
  #board .corner:nth-child(4) {
    top: -5px;
    right: -5px;
    border-top: 5px solid rgba(0, 0, 240, 0.85);
    border-right: 5px solid rgba(0, 0, 240, 0.85); }
  #board .clear {
    clear: both; }

#games {
  margin-left: 20px; }

a {
  color: white; }

.column {
  float: left;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.2); }

h1 {
  margin-bottom: 10px; }

#docs {
  background: white;
  padding: 10px; }

#existingGames {
  width: 600px; }

#duringTesting {
  display: block; }

#newGames {
  width: 300px; }
  #newGames label {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px; }
  #newGames input {
    display: inline-block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px; }

#scores {
  color: black;
  width: 300px;
  height: 250px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto;
  padding: 10px;
  border-radius: 4px; }
  #scores h1 {
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 3px; }
  #scores table {
    width: 100%; }
  #scores tr {
    margin-bottom: 5px;
    font-size: 24px; }
    #scores tr .name {
      font-weight: bold;
      width: 80%; }
    #scores tr .score {
      text-align: right; }

/*# sourceMappingURL=style.css.map */
