@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300');

* { margin: 0; padding: 0; }

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background: url('images/bg.jpg') no-repeat top;
    background-size: cover;
    color: white;
}

td {
  padding: 2px;
}

#container {
    padding: 10px;
    width: 1280px;
    margin: 40px auto 0;
    overflow: auto;
}

#waiting {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 400px;
    text-align: left;
    height: 50px;
    font-size: 36px;
    color: white;
}

.blocked {
  // background-color: black;
  background: url('images/crater.png');
}

$red: rgba(240, 0, 0, 0.85);
$yellow: rgba(230, 230, 20, 0.85);
$green: rgba(0, 240, 0, 0.85);
$blue: rgba(0, 0, 240, 0.85);
$light: 10%;

$border: rgba(75, 180, 240, 0.85);

@mixin shadow($color) {
    box-shadow: inset 0 0 24px $color!important;
}

.p0 .tile.hover { @include shadow(lighten($red, $light)); }
.p1 .tile.hover { @include shadow(lighten($yellow, $light)); }
.p2 .tile.hover { @include shadow(lighten($green, $light)); }
.p3 .tile.hover { @include shadow(lighten($blue, $light)); }

.spectate, .p0, .p1, .p2, .p3 {
    .tile.p0 { background-image: url('images/red.png'); }
    .tile.p1 { background-image: url('images/yellow.png'); }
    .tile.p2 { background-image: url('images/green.png'); }
    .tile.p3 { background-image: url('images/blue.png'); }
}

#blocks {
    display: none;
    width: 480px;
    min-height: 1px;
    overflow: auto;
    float: left;
    position: relative;
    z-index: 2;
    margin-right: 100px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.4);

    .blockgroup {
        overflow: hidden;
        border-top: 1px solid black;
        padding-top: 15px;
        padding-left: 10px;
        height: 100px;
        padding-bottom: 15px;
    }

    .blockgroup:first-child {
        border-top: none;
        margin-top: 1px;
    }

    .blockgroup.active {
        background: rgba(255, 255, 255, 0.6);
    }

    $tileSize: 12px;
    .block {
        position: relative;
        float: left;
        margin: 5px;
        cursor: pointer;
    }

    .tile {
        width: $tileSize;
        height: $tileSize;
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: none;
    }
}

#board-wrapper {
    float: left;
    background: url('images/moon.png') no-repeat center center;
    padding: 20px;
    display: none;
}

#board {
    position: relative;
    z-index: 3;
    box-shadow: 0 0 10px $border;

    $tileSize: 30px;
    .tile {
        float: left;
        cursor: pointer;
        width: $tileSize;
        height: $tileSize;
        box-shadow: inset 0 0 8px $border;
        background-size: cover;
        background-position: center center;
        background-repeat: none;
    }

    $bonuswidth: 3px;
    .bonus{
      height: $tileSize - 2*$bonuswidth;
      text-align: center;
      padding-top: 6px;
      background: url('images/bonus.png') no-repeat center center;
    }

    $bwidth: 5px;
    .corner {
        position: absolute;
        z-index: -1;
        width: 2 * $tileSize + $bwidth / 2;
        height: 2 * $tileSize + $bwidth / 2;
    }

    $border: $bwidth solid;
    .corner:nth-child(1) {
        border-top: $border $red;
        border-left: $border $red;
        top: -$bwidth;
        left: -$bwidth;
    }

    .corner:nth-child(2) {
        border-top: $border $yellow;
        border-right: $border $yellow;
        top: -$bwidth;
        right: -$bwidth;
    }

    .corner:nth-child(3) {
        border-bottom: $border $green;
        border-right: $border $green;
        bottom: -$bwidth;
        right: -$bwidth;
    }

    .corner:nth-child(4) {
        border-bottom: $border $blue;
        border-left: $border $blue;
        bottom: -$bwidth;
        left: -$bwidth;
    }

    .clear { clear: both; }
}

#games {
    margin-left: 20px;
}

a {
    color: white;
}

.column{
    float: left;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
}

h1 {
    margin-bottom: 10px;
}

#existingGames{
    width: 600px;
}

#newGames{
    width: 300px;

    label{
        display: inline-block;
        float: left;
        clear: left;
        width: 100px;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    input {
      display: inline-block;
      float: left;
      padding-top: 2px;
      padding-bottom: 2px;
    }
}

#scores {
    color: black;
    width: 300px;
    height: 250px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: auto;
    padding: 10px;
    border-radius: 4px;

    h1 {
        margin-bottom: 15px;
        border-bottom: 1px solid black;
        padding-bottom: 3px;
    }

    table {
        width: 100%;
    }

    tr {
        margin-bottom: 5px;
        font-size: 24px;

        .name {
            font-weight: bold;
            width: 80%;
        }

        .score {
            text-align: right;
        }
    }
}
