* {
    margin: 0;
    padding: 0;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 3px;
}

.building {
    fill: #f00;
}

.in-use {
    stroke: #0f0;
}

.is-train {
    stroke: rgb(255, 157, 0);
}

.has-order {
    fill: #00f;
}

text {
    fill: white;
}

.time, .money {
    fill: black;
}

#controls {
    text-align: center;
    background: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 500px;
    padding: 10px 0;
    margin-bottom: -55px;
    position: relative;
    top: 20px;
}
