* {
    margin: 0;
    padding: 0;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.building {
    fill: #f00;
}

.in-use {
    stroke: #0f0;
}

.is-train {
    stroke: rgb(0, 255, 255);
}

.has-order {
    fill: #00f;
}

text {
    fill: white;
}