{% extends "base.html" %}
{% block content %}
<form id="controls" class="form-inline" onsubmit="return false">
  <div><button id="step" class="btn btn-default">Step</button></div>
  <div><button id="play" class="btn btn-default">Play</button></div>
  <div><input type="number" id="speed" value="1" step="any" min="0"></div>
  <div><span id="time">Time: 0</span></div>
  <div><span id="money">Money: 0</span></div>
</form>
{% endblock %}
{% block scripts %}
<script>var LOG = {{ log | safe }};</script>
<script src="/static/js/app.js"></script>
{% endblock %}
